@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,
body * {
  border: 1px solid royalblue;
}

#root,
.App {
  min-height: 100vh;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.inset-shadow {
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.normal-shadow {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
